{%extends "homebase.html"%}
{%block body%}

This project was developed at Caltech by :
<br><br>
<ul>
<li><a href="http://www.its.caltech.edu/~angerman">Michael I Angerman</a>
<li>Constantin Georgescu
<li><a href="http://www.its.caltech.edu/~hbolouri">Hamid Bolouri</a>
</ul>
<br><br>
Thanks goes to 
<a href="http://biology.caltech.edu/Members/Rothenberg">Ellen Rothenberg</a>
for her encouragement and support.
<br><br>
<a href="http://www.its.caltech.edu/~tcellgrn">A more detailed description of our project.</a>

{%endblock%}
