{%extends "helpbase.html"%}
{%block body%}
<h2>Color Palettes</h2>

<p> You can pick any one of these names for your color palette.</p>

	<li>
	<div style>
	<img border="0" src="http://www.crdata.org/dmvstatic/image/RColorBrewer-div.png"/>
	</div>
	</li><br>
			
	<li>
	<div style>
	<img border="0" src="http://www.crdata.org/dmvstatic/image/RColorBrewer-qual.png"/>
	</div>
	</li><br>
			
	<li>
	<div style>
	<img border="0" src="http://www.crdata.org/dmvstatic/image/RColorBrewer-seq.png"/>
	</div>
	</li><br>



{%endblock%}
