{%extends "helpbase.html"%}
{%block body%}
<h2>Analysis Help Pages</h2>

These are pointers to more detailed help on CRdata's Analysis algorithms.
Please be sure and read the 
<a href="{%url core.views.helppagefive%}">Best Practices</a>
document to get a better sense of how to create the most readable
and usable results.

<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/graphics/html/barplot.html">
Bar Plot</a>
&nbsp;
Create a bar plot with Vertical bars.
<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/graphics/html/boxplot.html">
Box Plot</a>
&nbsp;
Create box-and-whisker plots.
<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/stats/html/heatmap.html">
Heat Map</a>
&nbsp;
Graphical representation of data where the values are represented as colors.
<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/stats/html/cmdscale.html">
Multi Dimensional Scaling [MDS]</a>
&nbsp;&nbsp;
<img border="0" src="http://www.crdata.org/dmvstatic/image/Wikipedia-16x16.png"/></img>
<a href="http://en.wikipedia.org/wiki/Multidimensional_scaling">
Wikipedia Definition
</a>

<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/stats/html/princomp.html">
Principal Component Analysis [PCA]</a>
&nbsp;&nbsp;
<img border="0" src="http://www.crdata.org/dmvstatic/image/Wikipedia-16x16.png"/></img>
<a href="http://en.wikipedia.org/wiki/Principal_component_analysis">
Wikipedia Definition
</a>
<br><br>

<a href="http://pbil.univ-lyon1.fr/library/pls.pcr/html/mvr.html">
Partial Least Squares Regression [PLSR]</a>
&nbsp;&nbsp;
<img border="0" src="http://www.crdata.org/dmvstatic/image/Wikipedia-16x16.png"/></img>
<a href="http://en.wikipedia.org/wiki/Partial_least_squares_regression">
Wikipedia Definition
</a>

<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/graphics/html/pie.html">
Pie Chart</a>
&nbsp;
Create a pie chart.
<br><br>

<a href="http://stat.ethz.ch/R-manual/R-patched/library/graphics/html/plot.html">
Time Series</a>
&nbsp;
Generic function for plotting of x and y values.

<br><br>


{%endblock%}
