{%extends "helpbase.html"%}
{%block body%}
		<style type="text/css" title="currentStyle">
			@import "http://www.crdata.org/dmvstatic/css/jquerycodeview.css";
		</style>		
		<script src="http://www.crdata.org/dmvstatic/jquery/jquery-1.3.2.js"></script>
		<script src="http://www.crdata.org/dmvstatic/jquerycodeview/jquerycodeview.js"></script>

<h2>Analysis R Source Code Pages</h2>

These are pointers to the R source code.<br><br>

<a href="http://www.crdata.org/dmvstatic/r/barchart.txt" class="codeExample">
Bar Plot</a>
&nbsp;
Create a bar plot with Vertical bars.
<br><br>

<a href="http://www.crdata.org/dmvstatic/r/boxplot.txt" class="codeExample">
Box Plot</a>
&nbsp;
Create box-and-whisker plots.
<br><br>

<a href="http://www.crdata.org/dmvstatic/r/heatmap.txt" class="codeExample">
Heat Map</a>
&nbsp;
Graphical representation of data where the values are represented as colors.
<br><br>

<a href="http://www.crdata.org/dmvstatic/r/mds.txt" class="codeExample">
Multi Dimensional Scaling [MDS]</a>
&nbsp;&nbsp;
<img border="0" src="http://www.crdata.org/dmvstatic/image/Wikipedia-16x16.png"/></img>
<a href="http://en.wikipedia.org/wiki/Multidimensional_scaling">
Wikipedia Definition
</a>

<br><br>

<a href="http://www.crdata.org/dmvstatic/r/pca.txt" class="codeExample">
Principal Component Analysis [PCA]</a>
&nbsp;&nbsp;
<img border="0" src="http://www.crdata.org/dmvstatic/image/Wikipedia-16x16.png"/></img>
<a href="http://en.wikipedia.org/wiki/Principal_component_analysis">
Wikipedia Definition
</a>
<br><br>

<a href="http://www.crdata.org/dmvstatic/r/pls.txt" class="codeExample">
Partial Least Squares Regression [PLSR]</a>
&nbsp;&nbsp;
<img border="0" src="http://www.crdata.org/dmvstatic/image/Wikipedia-16x16.png"/></img>
<a href="http://en.wikipedia.org/wiki/Partial_least_squares_regression">
Wikipedia Definition
</a>

<br><br>

<a href="http://www.crdata.org/dmvstatic/r/piechart.txt" class="codeExample">
Pie Chart</a>
&nbsp;
Create a pie chart.
<br><br>

<a href="http://www.crdata.org/dmvstatic/r/timeseries.txt" class="codeExample">
Time Series</a>
&nbsp;
Generic function for plotting of x and y values.

<br><br>


{%endblock%}
