{%extends "helpbase.html"%}
{%block body%}
<h2>Help</h2>

<a href="{%url core.views.helppageone%}">Tutorial</a>

&nbsp; For an introduction on how to use CRdata.<br><br>

<a href="{%url core.views.helppagetwo%}">Analysis</a>

&nbsp; Detailed descriptions of analysis algorithms.<br><br>

<a href="{%url core.views.helppagethree%}">Colors</a>

&nbsp; A selection of color palettes.<br><br>

<a href="{%url core.views.helppagefour%}">Code</a>

&nbsp; View Source Code.<br><br>

<a href="{%url core.views.helppagefive%}">Best Practice</a>

&nbsp; Analysis Best Practices.

{%endblock%}
