{%extends "base.html"%}

{%block mainmenu%}
  <a href="{%url core.views.home%}" class="active">Home</a>
  <a href="{%url core.views.data%}">Data</a>
  <a href="{%url core.views.analysis%}">Analysis</a>
  <a href="{%url core.views.gallery%}">Gallery</a>  
  <a href="{%url core.views.helptop%}">Help</a>
{%endblock%}

{%block body%}
  <h2>Issue <a href="{%url core.views.show issue.key.id%}"
               onmouseover="M_showPopUp(this, 'popup-issue');">
            {{issue.key.id}}</a>:
    {{issue.subject}} {%if issue.closed %} (Closed) {%endif%}
  </h2>
  <div class="popup" id="popup-issue">
    <b>Issue {{issue.key.id}}: {{issue.subject}}</b><br/>
    <i>Owner:</i> {{issue.owner}}
  </div>

  <table class="issue-details" border="0" width="100%">
    <tr valign="top">

      <td class="meta" width="20%">
        {%block issue_actions%}
          <div>
            {%ifequal issue.owner user %}
              <a class="novisit"
                 href="{%url core.views.edit issue.key.id%}">
                Edit Issue
              </a>
            {%else%}
              <span class="disabled">Can't Edit</span>
            {%endifequal%}
            <br/>
            {%if user%}
              <a class="novisit"
                 href="{%url core.views.publish issue.key.id%}">
                Publish+Mail Comments
              </a> ('m')
            {%else%}
              <span class="disabled">Can't Publish+Mail</span>
            {%endif%}
            {%if last_patchset and first_patch%}
              <br/>
              <a class="novisit"
                 href="{%url core.views.diff issue.key.id,last_patchset.key.id,first_patch.key.id%}">
                <b>Start Review</b>
              </a>
            {%endif%}
          </div>
        {%endblock%}
        <div class="issue_details_sidebar">
          <div><b>Created:</b><br/>
            {{issue.created|timesince}} ago by {{issue.owner}}
          </div>
          <div><b>Modified:</b><br/>
            {{issue.modified|timesince}} ago
          </div>
          <div><b>Reviewers:</b><br/>
            {{issue.reviewers}}
          </div>
          <div><b>SVN Base:</b><br/>
            {%firstof issue.base%}
          </div>
        </div>
      </td>

      <td style="padding-left: .8em; padding-right: .8em;" width="80%">
        {%block issue_body%}BODY GOES HERE{%endblock%}
      </td>
    </tr>
  </table>
{%endblock%}
