
<div style="display: none" id="scaleaxis">

<h2>Scaling Parameters</h2>
<!--
We will add this logscale check box back in upon my return from vacation
once we figure out how we want to implement this code.
<p>
<input type=checkbox value="logscale" name="logscale"><b>logscale</b></input>
</p>
-->

<p>
<b>XMIN:</b> <input type="text" name="xmin">
<b>XMAX:</b> <input type="text" name="xmax">
</p>
<p>
<b>YMIN:</b> <input type="text" name="ymin"> 
<b>YMAX: </b> <input type="text" name="ymax">
</p>

<label for="xyamount">Scale Value:</label>
<input type="text" name="xyamount" id="xyamount" value="xyamount" style="border:0; color:#f6931f; font-weight:bold;" />
</p>
<div id="xyaxis"></div>

<br>
</div>

