
<p>
<div style="display: none" id="palette">

<h2>Color Palette</h2>
<p>

<select name="palette">
<option id="Default" value="Default">default</option>
<option id="Spectral" value="Spectral">spectral</option>
<option id="RdYlGn" value="RdYlGn">RdYlGn</option>
<option id="RdYlBu" value="RdYlBu">RdYlBu</option>
<option id="RdGy" value="RdGy">RdGy</option>
<option id="RdBu" value="RdBu">RdBu</option>
<option id="PuOr" value="PuOr">PuOr</option>
<option id="PRGn" value="PRGn">PRGn</option>
<option id="PiYG" value="PiYG">PiYG</option>
<option id="BrBG" value="BrBG">BrBG</option>

<option id="Set3" value="Set3">Set3</option>
<option id="Set2" value="Set2">Set2</option>
<option id="Set1" value="Set1">Set1</option>
<option id="Pastel2" value="Pastel2">Pastel2</option>
<option id="Pastel1" value="Pastel1">Pastel1</option>
<option id="Paired" value="Paired">Paired</option>
<option id="Dark2" value="Dark2">Dark2</option>
<option id="Accent" value="Accent">Accent</option>

<option id="Reds" value="Reds">Reds</option>
<option id="Purples" value="Purples">Purples</option>
<option id="Oranges" value="Oranges">Oranges</option>
<option id="Greys" value="Greys">Greys</option>
<option id="Greens" value="Greens">Greens</option>
<option id="Blues" value="Blues">Blues</option>

</select>

&nbsp;<a href="{%url core.views.helppagethree%}">Colors</a>

</div>



</p>


